allFiredEvents
.build-temp
build
build_
node_modules
.env
emv-*/
scTopics
*.DS_Store
test-results.xml
.tsbuilt
yarn-error.log
.scencache
.solcache
.solcachecov
.build
.last_confs
.saddle_history
.secret
flats
deploymentLog
cache-zk
deploy